@{
    ViewBag.Title = "Operational Retailer Count";
}
<div ng-controller="tokenCtrl">
    <div class="container" ng-controller="operationalRetailerCountCtrl">
        <div ng-controller="BreadcrumbCtrl">
            @Html.Partial("~/Areas/SystemCommon/Views/Shared/_Partial/_Breadcrumbs.cshtml")
        </div>
        <div class="page-header">
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Areas/SystemCommon/Views/WaitModal/_modalWait.cshtml")
            </div>
        </div>

        <div id="PIDiv">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget box">
                        <div class="widget-header">
                            <h4><i class="icon-reorder"></i>Operational Retailer Count (Last Generate On : {{GenDate}})</h4>
                            <div class="toolbar no-padding">

                                <span id="save" class="btn btn-success margin-right-btn" ng-click="OperationalRetailerCount(1)"
                                      ng-disabled="IsShowReportButtonDisabled">
                                    <i class="icon-table"></i> Summary Report
                                </span>

                                <span id="save" class="btn btn-success margin-right-btn" ng-click="OperationalRetailerCount(2)"
                                      ng-disabled="IsShowReportButtonDisabled">
                                    <i class="icon-table"></i> Detail Report
                                </span>

                                <span id="save" class="btn btn-success margin-right-btn" ng-click="GenerateOrdDlvCountCustom()" ng-if="UserCommonEntity.loggedUserID=='08635'" ng-disabled="isGen">
                                    <i class="icon-table" ng-hide="isGen"></i><img src="~/Content/img/PleaseWaitSaveUpdate.gif" style="width:17px" ng-show="isGen" /> Generate
                                </span>

                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                            </div>
                        </div>
                        <div class="widget-content" id="frmEntry">
                            @Html.Partial("~/Areas/SECONDARYSALESMISREPORT/Views/OperationalRetailerCount/_Partial/_formOperationalRetailerCount.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
@section AngularScript{
    @*<script src="~/Areas/SECONDARYSALESMISREPORT/ScriptsNg/Controllers/SecondaryReportCommonCtrl_V2.js"></script>*@
    <script src="~/Areas/SECONDARYSALESMISREPORT/ScriptsNg/Controllers/OperationalRetailerCountCtrl.js"></script>
    <script src="~/Areas/SECONDARYSALESMISREPORT/ScriptsNg/Service/CrudService.js"></script>
    <script src="~/Areas/SECONDARYSALESMISREPORT/ScriptsNg/Directives/Conversion.js"></script>
    <script src="~/Scripts/CustomToastrMessage.js"></script>
    <script src="~/Areas/SystemCommon/ScriptsNg/Controllers/BreadcrumbCtrl.js"></script>
    <script src="~/Areas/Token/TokenController.js"></script>
}
