<form novalidate name="formBulkSalesStatement" id="formBulkSalesStatement" class="form-horizontal row-border">

    <input type="hidden" id="menuID" readonly="readonly" ng-model="MenuID" />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label" for="input17">Company</label>
                <div class="col-md-6">
                    <select id="ddlCompany" class="select2-select-00" ng-disabled="IsDisableCompany"
                            ng-model="ngModelCompany"
                            name="ddlCompany" ng-change="GetSKUByCompany()"
                            data-placeholder="--Select Company--"
                            style="width: 100%" ng-options="com.SCOMP_OID as com.SCOMP_NAME for com in listUserWiseCompany" required>
                        <option></option>
                    </select>
                </div>
                <span class="error" ng-show="(formBulkSalesStatement.$dirty||submitted) && formBulkSalesStatement.ddlCompany.$error.required">*</span>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="input17">Location</label>
                <div class="col-md-6">
                    <select id="ddlLocation" class="select2-select-00"
                            ng-model="ngModelLocation"
                            name="ddlLocation"
                            data-placeholder="--Select Location--"
                            style="width: 100%" ng-options="loc.SGLOC_ID as loc.SGLOC_NAME for loc in listLocation" required>
                        <option></option>
                    </select>
                </div>
                <span class="error" ng-show="(formBulkSalesStatement.$dirty||submitted) && formBulkSalesStatement.ddlLocation.$error.required">*</span>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="input17">Customer</label>
                <div class="col-md-6">
                    <select id="ddlDistributor" class="select2-select-00" ng-disabled="IsDisableDistributor" ng-readonly="IsReadOnlyDistributor"
                            ng-model="ngModelDistributor"
                            name="ddlDistributor"
                            data-placeholder="--Select Customer--"
                            style="width: 100%" ng-options="dis.DIST_ID as dis.DIST_NAME for dis in listDistributor" required>
                        <option></option>
                    </select>
                </div>
                <span class="error" ng-show="(formBulkSalesStatement.$dirty||submitted) && formBulkSalesStatement.ddlDistributor.$error.required">*</span>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="input17">Product</label>
                <div class="col-md-6">
                    <select id="ddlProduct" class="select2-select-00"
                            ng-model="ngModelProduct"
                            name="ddlProduct"
                            data-placeholder="--Select Product--"
                            style="width: 100%" ng-options="prod.PRODUCTOID as prod.PRODUCTNAME for prod in ListProducts" required>
                        <option></option>
                    </select>
                </div>
                <span class="error" ng-show="(formBulkSalesStatement.$dirty||submitted) && formBulkSalesStatement.ddlProduct.$error.required">*</span>
            </div>


        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label"> From Date </label>
                <div class="col-md-3">
                    <input type="text"
                           id="dtStartDate"
                           class="form-control datepicker"
                           name="dtStartDate" ng-model="StartDate" required />
                </div>
                <span class="error" ng-show="(formBulkSalesStatement.$dirty||submitted) && formBulkSalesStatement.dtStartDate.$error.required">*</span>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label"> To Date </label>
                <div class="col-md-3">
                    <input type="text"
                           id="dtEndDate"
                           class="form-control datepicker"
                           name="dtEndDate" ng-model="EndDate" required />
                </div>
                <span class="error" ng-show="(formBulkSalesStatement.$dirty||submitted) && formBulkSalesStatement.dtEndDate.$error.required">*</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>
                Consolidated On Local & Export :      <input type="checkbox" ng-model="ngChkBoxExport" />
            </label>
            <div class="form-group">
                <label class="col-md-2 control-label" for="input17">Report Type</label>
                <div class="col-md-10">
                    <input type="radio" ng-model="ReportType" value="partydetails">Sales Statement Party Wise (Details)  </br>
                    <input type="radio" ng-model="ReportType" value="partysummary">Sales Statement Party Wise (Summary)  </br>


                    <input type="radio" ng-model="ReportType" value="partytotal">Sales Statement All Party Summary  </br>

                    <input type="radio" ng-model="ReportType" value="Proddetails"> Sales Statement Item Wise With Party (Details) </br>
                    <input type="radio" ng-model="ReportType" value="Prodsummary">Sales Statement Item Wise With Party (Summary) </br>
                    <input type="radio" ng-model="ReportType" value="WithoutItem">Sales Statement Item Wise Without Party (Details)</br>
                    <input type="radio" ng-model="ReportType" value="WithoutSummary">Sales Statement Item Wise Without Party (Summary)</br>
                    <input type="radio" ng-model="ReportType" value="preioditem">Sales Statement Item Wise By Preiod (Details)</br>
                    <input type="radio" ng-model="ReportType" value="preiodsummary">Sales Statement Item Wise By Preiod (Summary)</br>
                    <input type="radio" ng-model="ReportType" value="categoryitem">Sales Statement Category Wise Details</br>
                </div>
            </div>
        </div>
    </div>

</form>
