@{
    ViewBag.Title = "MIS REPORT";
}
<div ng-controller="tokenCtrl">
    <div class="container" ng-controller="ConsumerDOPrintCtrl">
        <div ng-controller="BreadcrumbCtrl">
            @Html.Partial("~/Areas/SystemCommon/Views/Shared/_Partial/_Breadcrumbs.cshtml")
        </div>
        <div class="page-header">
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Areas/SystemCommon/Views/WaitModal/_modalWait.cshtml")
            </div>
        </div>

        <div id="PIDiv">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget box">
                        <div class="widget-header">
                            <h4><i class="icon-reorder"></i>Employee Product Consumption</h4>
                            <div class="toolbar no-padding">
                                @*<span id="reset" class="btn btn-danger margin-right-btn" ng-click="clearPartyLedger()">
                                    <i class="icon-refresh"></i> Reset
                                </span>
                                <span id="save" class="btn btn-success margin-right-btn" ng-click="ShowPartyLedger(2)"
                                      ng-disabled="IsShowReportButtonDisabled">
                                    <i class="icon-save"></i> Detail
                                </span>*@
                                <span id="save" class="btn btn-success margin-right-btn" ng-click="EmployeeProductConsumption()"
                                      ng-disabled="IsShowReportButtonDisabled">
                                    <i class="icon-save"></i> Show Report
                                </span>
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                            </div>
                        </div>
                        <div class="widget-content" id="frmEntry">
                            @Html.Partial("~/Areas/MISREPORT/Views/EmployeeProductConsumption/_Partial/_formEmployeeProductConsumption.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
@section AngularScript{
    <script src="~/Areas/MISREPORT/ScriptsNg/Controllers/ConsumerDOPrintCtrl.js"></script>
    <script src="~/Areas/MISREPORT/ScriptsNg/Service/CrudService.js"></script>
    <script src="~/Areas/MISREPORT/ScriptsNg/Directives/Conversion.js"></script>
    <script src="~/Scripts/CustomToastrMessage.js"></script>
    <script src="~/Areas/SystemCommon/ScriptsNg/Controllers/BreadcrumbCtrl.js"></script>
    <script src="~/Areas/Token/TokenController.js"></script>
}
