<div class="card col-md-12" style="margin: 0px; padding: 0px; ">
    <div class="card-body" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 5px; margin: 5px;">
        <div class="col-md-12" style="width: 100%; padding: 0px; margin: 0px; display: inline-block;">
            <!-- Only LC Dashboard -->

            <iframe title="LC_Dashboard_final_citytheme_background" width="100%" height="670"
                    src="https://app.powerbi.com/view?r=eyJrIjoiOGNmNzVmOTctOTAzNy00YjE5LThiNGQtNjk4ODBhYzAyMzY0IiwidCI6ImVlMjhmM2FlLTdiZWItNDQxYi1iMWE3LWQxMTA3Yzg1ZWQ5NSIsImMiOjEwfQ%3D%3D&pageName=ReportSection"
                    frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
</div>