<form novalidate name="_formDeliveryStatementLineWise" id="_formDeliveryStatementLineWise" class="form-horizontal row-border">

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-2 control-label" for="input17"> Report Mode</label>
                <div class="col-md-10">
                    <div ng-repeat="ump in userMenuModePermissionList" class="radio-group pull-left" style="margin-right:10px; display:flex">
                        <input type="radio" ng-model="ReportType" value="{{ump.COLID}}" id="{{ump.COLID}}" ng-click="setPermissionMode(ump.COLID);"> <label style="font-weight: normal; color: red;" for="{{ump.COLID}}"> &nbsp; {{ump.COLDISPLAY}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div ng-show="ReportType=='LineWise'">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="input17">Sales Line <span class="error">*</span></label>
                    <div class="col-md-6">
                        <select id="ddlLine" class="select2-select-00"
                                ng-model="salesLineId"
                                ng-change="GetAllSalesCompany('SALES_COMPANY')"
                                name="ddlLine"
                                data-placeholder="--Select Sales Line--"
                                style="width: 100%" ng-options="sl.OID as sl.SDVNT_NAME for sl in listSalesLine"
                                ng-disabled="ReportType === 'CompanyWise'" required>
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-show="ReportType=='LocationWise'">
                <label class="col-md-4 control-label" for="input17">Location <span class="error">*</span></label>
                <div class="col-md-6">
                    <select id="locationId" class="select2-select-00"
                            ng-model="locationId"
                            name="locationId"
                            data-placeholder="--Select Location--"
                            style="width: 100%" ng-options="loc.SGLOC_ID as loc.SGLOC_NAME for loc in listLocation" required>
                        <option></option>
                    </select>
                </div>
            </div>

            <div ng-show="ReportType=='LineWise'">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="input17">Sales Company <span class="error">*</span></label>
                    <div class="col-md-6">
                        <select id="salesCompanyId_Line" class="select2-select-00"
                                ng-model="salesCompanyId"
                                ng-change="GetAllSalesCustomer()"
                                name="salesCompanyId"
                                data-placeholder="--Select Sales Company--"
                                style="width: 100%" ng-options="sc.OID as sc.SCOMP_NAME for sc in listSalesCompany" required>
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-show="ReportType=='CompanyWise' || ReportType=='LocationWise'">
                <label class="col-md-4 control-label" for="input17">Sales Company <span class="error">*</span></label>
                <div class="col-md-6">
                    <select id="salesCompanyId_Other" class="select2-select-00"
                            ng-model="salesCompanyId"
                            ng-change="GetFilteredCustomer()"
                            name="salesCompanyId"
                            data-placeholder="--Select Sales Company--"
                            style="width: 100%" ng-options="sc.OID as sc.SCOMP_NAME for sc in listSalesCompany" required>
                        <option></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="input17">Sales Customer</label>
                <div class="col-md-6">
                    <select id="salesCustomerId" class="select2-select-00"
                            ng-model="salesCustomerId"
                            name="salesCustomerId"
                            data-placeholder="--Select Sales Customer--"
                            style="width: 100%" ng-options="sc.OID as sc.CUSTOMER for sc in listSalesCustomer" required>
                        <option></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="brandId">Brand</label>
                <div class="col-md-6">
                    <select id="brandId" class="select2-select-00"
                            ng-model="brandId"
                            name="brandId" ng-change="loadProductsByBrand()"
                            data-placeholder="--Select Brand--"
                            style="width: 100%" ng-options="brnd.BRANDID as brnd.SBRND_NAME for brnd in brandList">
                        <option></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="productId">Prodcut</label>
                <div class="col-md-6">
                    <select id="productId" class="select2-select-00"
                            ng-model="productId"
                            name="productId"
                            data-placeholder="--Select Product--"
                            style="width: 100%" ng-options="sku.PROD_OID as sku.PROD_NAME for sku in productList">
                        <option></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label"> From Date <span class="error">*</span></label>
                <div class="col-md-6">
                    <input type="text"
                           id="dtStartDate" ng-change="restrictedDate('StartDate')"
                           class="form-control datepicker"
                           name="dtStartDate" ng-model="StartDate" required />
                </div>
                <span class="error" ng-show="(frmUndeliveredStatementLine.$dirty||submitted) && frmUndeliveredStatementLine.dtStartDate.$error.required">*</span>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label"> To Date <span class="error">*</span></label>
                <div class="col-md-6">
                    <input type="text"
                           id="dtEndDate" ng-change="restrictedDate('EndDate')"
                           class="form-control datepicker"
                           name="dtEndDate" ng-model="EndDate" required />
                </div>
                <span class="error" ng-show="(frmUndeliveredStatementLine.$dirty||submitted) && frmUndeliveredStatementLine.dtEndDate.$error.required">*</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-2 control-label" for="input17"> Report Type <span class="error">*</span></label>
                <div class="col-md-10">
                    <div class="radio-group">
                        <input type="radio" ng-model="ReportType0" value="details" id="details"> <label style="font-weight: normal; color: red;" for="details">Details</label>
                        <input type="radio" ng-model="ReportType0" value="summary" id="summary"> <label style="font-weight: normal; color: red;" for="summary">Summary</label>
                    </div>
                    <br />
                    <div>
                        <input type="radio" ng-model="ReportType1" value="Requisition" id="Requisition"> <label style="font-weight:normal" for="Requisition">Brand Wise </label><br />
                        <input type="radio" ng-model="ReportType1" value="Gropwise" id="Gropwise"> <label style="font-weight:normal" for="Gropwise">Customer Wise</label><br />
                        <input type="radio" ng-model="ReportType1" value="ReqWise" id="ReqWise"> <label style="font-weight:normal" for="ReqWise">Product Wise</label><br />
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
