@{
    ViewBag.Title = " Auto Rice Sales By Product";
}
<div ng-controller="tokenCtrl">
    <div class="container" ng-controller="AutoRiceSalesByProductCtrl">
        <!-- Breadcrumbs line -->
        <div ng-controller="BreadcrumbCtrl">
            @Html.Partial("~/Areas/SystemCommon/Views/Shared/_Partial/_Breadcrumbs.cshtml")
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{PageTitle}}</h4>
                        <div class="toolbar no-padding">
                            <span id="reset" class="btn btn-danger margin-right-btn" ng-click="clear()">
                                <i class="icon-refresh"></i> Reset
                            </span>

                            <span id="Show" class="btn btn-info margin-right-btn" ng-click="ShowHide()">
                                <i class="icon-search" ng-show="IsListIcon"></i> <i ng-show="IsCreateIcon" class="icon-plus-sign"></i> {{btnShowText}}
                            </span>

                            <span id="save" class="btn btn-success margin-right-btn" ng-click="Save()" 
                                  ng-disabled="frmAutoRiceCollection.$invalid">
                                <i class="icon-save"></i> {{btnSaveText}}
                            </span>
                            <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                        </div>
                    </div>
                    <div class="widget-content" ng-show="IsShow">
                        @Html.Partial("~/Areas/Sales/Views/AutoRiceSalesByProduct/_Partial/_formAutoRiceSalesByProduct.cshtml")
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-hide="IsHidden">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i>Auto Rice Sales Information</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                            </div>
                        </div>
                    </div>
                    <div class="widget-content no-padding">
                        @Html.Partial("~/Areas/Sales/Views/AutoRiceSalesByProduct/_Partial/_tableAutoRiceSalesByProduct.cshtml")
                    </div>
                </div>
                <div class="clearfix"></div>
            </div> <!-- /.col-md-12 -->
        </div>


    </div>
</div>
<!-- /.container -->


@section AngularScript{
    <script src="~/Areas/Sales/ScriptsNg/Controllers/AutoRiceSalesByProductCtrl.js"></script>
    <script src="~/Areas/Sales/ScriptsNg/Service/CrudService.js"></script>
    <script src="~/Areas/Sales/ScriptsNg/Directives/Conversion.js"></script>
    <script src="~/Scripts/CustomToastrMessage.js"></script>
    <script src="~/Areas/SystemCommon/ScriptsNg/Controllers/BreadcrumbCtrl.js"></script>
    <script src="~/Areas/Token/TokenController.js"></script>
}