<div>
    {{DOCUMENTNAME}}
    @*<a href="{{VIRTUALPATH}}"
           title="Open in a new tab to this file"
           target="_blank">
            <img src="~/Content/img/eye-open1.png" />
        </a>*@

    <a style="cursor:pointer" ng-click="getFiles(VIRTUALPATH, DOCUMENTNAME)">
        <img src="~/Content/img/eye-open1.png" />
    </a>
</div>
 